<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vehicle Color Recognition</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="container" style="border: 4px solid gray; border-radius: 12px;
            width: 500px; margin: 20px; height: 300px; padding: 20px; position: relative;">
            <h1>Vehicle Color Recognition</h1>
            <p>Use <b>/predict</b> endpoint to get predictions.</p>
            <div class="contact" style="position: absolute; bottom: 0;margin: 10px;">
                <b>Author: </b> <a href="https://github.com/m-bashari-m/"> Mojtaba Bashari</a>
                <p><b>Email: </b>m-bashari@outlook.com</p>
                <b>Special thanks to: </b><a href="http://akhavanpour.ir/">Mr. Alireza AkhavanPour</a>
            </div>
        </div>
    </body>
</html>
